/**
 * MIXINS
 * Reusable style logic
 */

// Flex center
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Flex between
@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Text ellipsis
@mixin text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
